body {
  /* background: url('2021-11-02 14.55.07-cropped01.jpg'); */
  /* height: 200px; */
  background-color: #24c024;
  /* background-image: linear-gradient(red, yellow); */
}
.artistimage {
  /* width:100; */
  /* height:100; */
  border:5px solid black;
  margin:10px 10px;
}

.columns {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap:5em;
  /* height: 100px;*/
}

.columns > .desc {
  text-align: left;
  /* padding: 25px; */
  /* margin: auto; */
  /* width: 15%; */
}
.columns > .lossless {
  text-align: left;
  /* padding: 15px; */
  /* margin: auto; */
  /* width: 90%; */
}
ul {
  list-style: none;
}